*{
  margin: 0;
}
.petworld{
  background-color: #fafafa; 
  height: 100vh;
}

.petworld__headerImage {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
